.notify{
    display: none;
    position: absolute;
    padding: 20px 70px;
    background-color: black;
    color: white;
    border-radius: 8px;
    animation-duration: 5s;
    animation-name: notify;
    animation-timing-function: cubic-bezier(0.001, 0.82, 0.165, 1);
}

  @keyframes notify {
    0% {
      margin-top: 100%;
      opacity: 1;
    }
  
    70% {
      margin-top: -60%;
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }

  @keyframes notify-mobile {
    0% {
      top:100%;
      opacity: 1;
      right: 5%;
    }
  
    70% {
      top: 80%;
      opacity: 1;
      right: 5%;
    }
    100%{
      opacity: 0;
      right: 5%;
    }
  }

@media (max-width:961px)  { 
 .notify{
  animation-name: notify-mobile;
 }
}

@media (max-width:641px){

}