.notify{
    display: inline;
    position: absolute;
    padding: 20px 70px;
    background-color: black;
    color: white;
    border-radius: 8px;
    animation-duration: 5s;
    animation-name: notify;
    animation-timing-function: cubic-bezier(0.001, 0.82, 0.165, 1);
}

  @keyframes notify {
    0% {
      margin-top: 100%;
      opacity: 1;
    }
  
    70% {
      margin-top: 0%;
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }