.dropdown-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1;
    padding: 10px;
    border-radius: 8px;
}
// @media (max-width: 576px) {
//     .dropdown-modal{
//         left: 44%;
//     }
//  }
  