.order-card{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    & .title {
        display: flex;
        flex-direction: column;
    }
    & p {
        display: flex;
        align-items: center;
    }
    & button{
        height: 50px;
    }
}

.order-cart-data-details{
    display: flex;
    & p{
        display: flex;
        align-items: center;
        margin: 5px;
    }
    & img{
        height: 100px;
    }
}

.cancel-order-btn{
    display: flex;
    align-items: center;
    cursor: pointer;
    & img{
        height: 50px;
    }
}
