.order-card{
    display: flex;
    justify-content: space-between;
}
.order-card .title {
    display: flex;
    flex-direction: column;
}
.order-card p {
    display: flex;
    align-items: center;
}
.order-cart-data-details{
    display: flex;
}
.order-cart-data-details p{
    display: flex;
    align-items: center;
    margin: 5px;
}
.order-cart-data-details img{
    height: 100px;
}