.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    & img:first-child{
        height: 500px;
    }
    & img:last-child {
        cursor: pointer;
    }
}
.center{
    display: flex;
    justify-content: center;
}