.all-orders-card-container{
    margin-top: 30px;
}
.all-orders-card{
    display: flex;
    margin: 20px 10px;
    padding: 20px 10px;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
}
.all-orders-card:hover{
    background-color: #00000008
}
.all-orders-card-data{
    display: flex;
}
.all-orders-card-data p{
    display: flex;
    align-items: center;
    margin: 0px 15px;
}
.all-orders-cart-data-details{
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
}
.all-orders-cart-data-details p{
    display: flex;
    justify-content: center;
    width: 250px;
}
.all-orders-cart-data-details img{
    height: 100px;
}


.all-orders-details-container{
    height: 0;
    overflow: hidden;
    transition: ease-in 0.25s ;
}
