.all-orders-card-container{
    margin-top: 30px;
}
.all-orders-card{
    display: flex;
    margin: 40px 10px;
    padding: 20px 10px;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
}
.all-orders-card:hover{
    background-color: #00000008
}
.all-orders-card-data{
    display: flex;
}
.all-orders-card-data p{
    display: flex;
    align-items: center;
    margin: 0px 15px;
}