.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  width: 300px;
}
.card img {
  height: 300px;
}
.card h2 {
  text-align: center;
  color: hsl(220, 13%, 13%);
  margin: 0px;
}
.card h3,
h4 {
  text-align: center;
  color: hsl(219, 9%, 45%);
  margin: 0px;
}

.card button {
  display: block;
  border: none;
  border-radius: 5px;
  background-color: hsl(220, 13%, 13%);
  color: white;
  margin-top: 15px;
  height: 35px;
}
.discount {
  position: relative;
  top: 100px;
  left: 95px;
  height: 30px;
  width: 40px;
  background-color: hsl(26, 100%, 55%);
  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
}

.zero-discount{
  background-color: white;
  border: white;
}