.mobile-navbar-wrapper {
  display: none;
}

@media (max-width: 961px) {
  .mobile-navbar-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .mobile-account-navbar{
    display: flex;
    & div{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      height: 80px;
      width: 80px;
    }
    & img{
      height: 50px;
      width: 50px;
    }
  }
  .mobile-account-button-user img{
    border-radius: 50%;
  }
}
