.search-sort-bar{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0px;
    background: black;
}

.search-sort-bar div{
    vertical-align: middle;
}

.search-sort-bar input{
    height: 30px;
    width: 300px;
    font-size: 24px;
    border-radius: 8px;
}

textarea:focus, input:focus{
    outline: none;
}

.search-sort-bar select{
    height: 30px;
}

@media (max-width:641px){
    .search-sort-bar{
        background-color: white;
    }
    .search-sort-bar div{
        margin: 0px 10px;
    }
  }
