.sneaker-page{
    display: flex;
}

.thumbnails{
    display: flex;
}
.main-image img{
    height: 700px;
}
.thumbnails img{
    height: 150px;
    cursor: pointer;
}

.thumbnails img:hover{
    border: 1px solid black;
    border-radius: 10px;
}
.thumbnail{
    margin: 0px 10px;
}
.info-box{
    padding-right: 320px;
}
.info-box h4{
    text-align: left;
    color: hsl(26, 100%, 55%);
}
.price-box{
    display: flex;
}
.price-box h2{
    margin: 0;
}
.price-box .discount{
    margin-left: 20px;
    font-weight: bolder;
    border: none;
    background-color: rgba(255, 125, 26, 0.1);;
    position: static;
}
.sizes-box{
    display: flex;
}
.size-box{
    background-color: hsl(220, 13%, 13%);
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    margin: 5px;
    padding: 10px;
}