nav {
  display: flex;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsl(220, 14%, 75%);
  padding-bottom: 20px;
}
.site-navbar {
  display: flex;
  align-items: center;
  height: 100%;
}
.site-navbar a {
  height: 100px;
  display: flex;
  align-items: center;
  margin: 0px 20px 0px 20px;
  color: black;
  text-decoration: none;
  transition: 0.1s ease-in;
}
.site-navbar a:hover {
  border-bottom: 4px solid hsl(26, 100%, 55%);
  margin: -4px 16px -4px 16px;
}
.logo {
  margin-right: 60px;
}
.account-navbar {
  display: flex;
}
.account-navbar div {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0px 10px;
}
.account-navbar img {
  width: 74px;
  height: 74px;
}
.cart-button img {
  height: 25px;
  width: 25px;
}

.account-button:hover {
  border: 3px solid hsl(26, 100%, 55%);
  margin: -3px 7px;
}


.cart-dropdown__container {
  position: relative;
}

.cart-dropdown__btn {
  all: unset;
  cursor: pointer;
}

.cart-dropdown__btn img {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.cart-dropdown__content {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-20px);
  transition: 0.23s linear;
  border: 1px solid #dedede;
  position: absolute;
  top: 90px;
  right: 0;
  font-size: 16px;
  min-width: 160px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 0;
  transform: translateY(-5px);
  z-index: 999;
}

.cart-dropdown__content:after {
  content: "";
  position: absolute;
  top: -5px;
  right: 17px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
}

.cart-dropdown__content.open {
  border-radius: 8px;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

.cart-dropdown__info button {
  all: unset;
}
.cart-dropdown__info h3{
    margin: 10px 5px;
}
.cart-dropdown__info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-dropdown__info ul li {
  padding: 10px 16px;
  border-bottom: 1px solid #e9edff;
  font-size: 14px;
}

.cart-dropdown__info ul li:last-child {
  border: none;
}
