nav {
  display: flex;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsl(220, 14%, 75%);
  padding-bottom: 20px;
}
.site-navbar {
  display: flex;
  align-items: center;
  height: 100%;
}
.site-navbar a {
  height: 100px;
  display: flex;
  align-items: center;
  margin: 0px 20px 0px 20px;
  color: black;
  text-decoration: none;
  transition: 0.1s ease-in;
}
.site-navbar a:hover {
  border-bottom: 4px solid hsl(26, 100%, 55%);
  margin: -4px 16px -4px 16px;
}
.logo {
  margin-right: 60px;
}
.mobile-navbar-wrapper{
  display: none;
}
.logo-mobile{
  display: none;
}
.account-navbar {
  display: flex;
}
.account-navbar-cart div {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0px 10px;
}
.account-navbar-cart div {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0px 10px;
}
.account-navbar img {
  width: 74px;
  height: 74px;
}
.cart-button img {
  height: 25px;
  width: 25px;
}
.account-button-cart{
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 74px;
  width: 78px;
}
.account-button-cart img{
  height: 30px;
  width: 30px;
}
.account-button:hover {
  border: 3px solid hsl(26, 100%, 55%);
  margin: -3px 7px;
}
.account-button-user img{
  border-radius: 50%;
}

.burger{
  height: 5px;
  background-color: gray;
  width: 50px;
  margin: 6px 0px;
}


@media (max-width:961px)  { 
  .layout{
    padding: 0px 30px;
  }
  .logo{
    display: none;
  }
  .mobile-navbar-wrapper{
    display: flex;
    justify-content: space-between;
  }
  .logo-mobile{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 50px;
    justify-content: center;
    align-items: center;
  }
  nav{
    background-color: white;
    position: absolute;
    z-index: 999;
    width: 0%;
    height: 20%;
    flex-direction: column;
    align-items: flex-start;
    transition: 0.5s;
    height: 100%;
  }
  .site-navbar{
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .site-navbar a {
    overflow: scroll;
    width: 100%;
  }
  .account-navbar{
    display: none;
  }
  .cards{
    position: absolute;
    z-index: 1;
  }
  .showed{
    width: 50%;
    transition: 0.5s;
  }
  .burger{
    transform: translateY(0px) rotate(0deg);
    opacity: 1;
    transition: 0.5s;
  }
  .hiding{
    opacity: 0;
    transition: 0.5s;
  }
  .rotate-up{
    transform: translateY(17px) rotate(45deg);
    transition: 0.5s;
  }
  .rotate-down{
    transform: translateY(-17px) rotate(-45deg);
    transition: 0.5s;
  }
  .mobile-account-navbar{
    display: flex;
  }
  .mobile-account-navbar div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }
 
  .mobile-account-navbar img{
    height: 50px;
    width: 50px;
  }
  .cart-dropdown{
    position: static;
  }
}

@media (max-width:641px){
  .showed{
    width: 80%;
    transition: 0.5s;
  }
}