.footer{			
    display:flex;
    justify-content:space-between;	
    background-color:black;
    padding:30px 120px;
    & a{
        color:white;
        text-decoration: none;
    }
}

.footer{
    display:flex;
}
.footer-group{
    display:flex;
    flex-direction:column;
    & a{
        margin: 10px 0px;
    }
}

.social__link {
  display: inline-flex;
  align-items: center;
  margin: 0 8px 0 0;
  &:before {
    content: '';
    width: 24px;
    height: 24px;
    min-width: 24px;
    display: inline-flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 10px;
}      
}
.tg:before {
    background-image: url('../../../public/images/tg.svg');
}
.vk:before {
    background-image: url('../../../public/images/vk.svg');
}
.email:before {
    background-image: url('../../../public/images/email.svg');
}
.phone:before {
    background-image: url('../../../public/images/phone.svg');
}
@media (min-width: 1200px) {
.footer-group{
    flex-direction: row;
    & a{
        margin: 0px 10px;
    }
}
}
@media (max-width: 576px) {
.footer{
    flex-direction: column;
    padding: 30px 30px;
}
}