nav {
  display: flex;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsl(220, 14%, 75%);
  padding: 20px 100px;
}

.logo {
  margin-right: 60px;
}

.account-navbar {
  display: flex;
  & div{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0px 10px;
  }
  & img{
    width: 74px;
    height: 74px;
  }
}

.cart-button img {
  height: 25px;
  width: 25px;
}
.account-button-cart{
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 74px;
  width: 78px;
  & img{
    height: 30px;
    width: 30px;
  }
}
.account-button:hover {
  border: 3px solid hsl(26, 100%, 55%);
  margin: -3px 7px;
}
.account-button-user img{
  border-radius: 50%;
}


@media (max-width:961px)  { 
  .logo{
    display: none;
  }
  .mobile-navbar-wrapper{
    display: flex;
    justify-content: space-between;
  }
  .logo-mobile{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 50px;
    justify-content: center;
    align-items: center;
  }
  nav{
    background-color: white;
    position: absolute;
    z-index: 999;
    width: 0%;
    height: 20%;
    flex-direction: column;
    align-items: flex-start;
    transition: 0.5s;
    height: 100%;
    padding: 0px 0px;
  }
  .account-navbar{
    display: none;
  }
  .cards{
  }
  .showed{
    width: 50%;
    transition: 0.5s;
  }
  .mobile-account-navbar{
    display: flex;
    & div{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      height: 80px;
      width: 80px;
    }
    & img{
      height: 50px;
      width: 50px;
    }
  }

  .mobile-account-button-user img{
    border-radius: 50%;
  }
  .cart-dropdown{
    position: static;
    box-shadow: none;
  }
  .dropdown{
    position: static;
    box-shadow: none;
  }
}

@media (max-width:641px){
  .showed{
    width: 80%;
    transition: 0.5s;
  }
  .cards{
    margin-top: 60px;
    flex-direction: column;
  }
}