@font-face {
  font-family: 'KumbhSans';
  src: url('/public/fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

body {
  margin: 0;
  padding: 20px 100px;
  font-family: 'KumbhSans' ;
}

@media (max-width:961px)  { 
  body{
    padding: 0px;
  }
}

.layout{
  filter: none;
  height: 100pc;
  transition: 0.5s;
}
.layout-blur{
  filter: blur(10px) brightness(0.5);
  transition: 0.5s;
  height: 100pc;
  background-color: rgba(0,0,0,0.5);
}

@media (max-width:641px){
  .layout{
    display: flex;
    justify-content: center;
  }
}